*{
    padding: 0;
    margin: 0;
}

#container{
    width: 1280px;
    margin: auto;
}

.logo > h2{
    color: white;
}
#navigation{
    padding: 0px 20px;
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation > ul{
    display: flex;
}
#navigation > ul > li{
    list-style: none;
    margin: 0px 5px;
    padding: 15px 10px;
}
#navigation > ul >li > a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}